* {
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Schibsted Grotesk", sans-serif;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding-left: 10vw;
}

[class$="-text"] {
  animation: fadeIn 2s forwards;
}

.clock-text {
  font-size: 10em;
  font-weight: 400;
}

.greeting-text {
  font-size: 3em;
}

#login-form {
  height: 65px;
}

#login-form input:first-child {
  width: 500px;
  height: 50px;
  font-size: 3em;
  color: #fff;
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
}
.form input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.weather-text {
  display: flex;
  align-items: center;
  width: max-content;
  height: 35px;
  margin-top: 15px;
  padding: 0 15px 0 5px;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.weather-text img {
  width: 35px;
}

.weather-text span:last-child {
  margin-left: 5px;
}

.todo-container {
  margin-right: 25px;
  padding: 10px 25px 20px 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.todo-container h3 {
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;
}

.todo-container input {
  width: 200px;
  height: 30px;
  font-size: 1em;
  color: #fff;
  background-color: transparent;
  border-style: none;
}
.todo-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.todo-container button {
  color: rgba(255, 255, 255, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-text {
  max-width: 205px;
  max-height: 150px;
  margin-bottom: 15px;
  overflow-y: scroll;
  word-break: keep-all;
}

.list-text li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  animation: fadeIn 1s forwards;
  cursor: pointer;
}

.finished {
  text-decoration: line-through;
}
